.heading-section .subheading {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  color: rgba(0, 0, 0, 0.2);
}
.block-20 {
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 250px;
  position: relative;
  display: block;
}
.blog-content {
  background: #fff;

  .meta > div {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 15px;

    a {
      color: #a5a5ab !important;
      font-size: 15px;
    }
  }
  .text {
    position: relative;
    border-top: 0;
    border-radius: 2px;

    .heading {
      font-size: 20px;
      margin-bottom: 16px;
      font-weight: 700;

      a {
        color: #404044;
      }
    }
    .read {
      color: #404044;
      font-size: 14px;
    }

    .float-left {
      float: left !important;
    }
    .meta-chat {
      color: #a5a5ab;
    }

    .float-right {
      float: right !important;
    }
  }
}
